doctype html
html
    head
        title='Load'+(isAuth ? ' | '+user.username : '')  
        link(rel='stylesheet',href='/stylesheets/dash/load.css')
    body
        script(src='/javascripts/jquery.js')
        script(src='/javascripts/dash/load.js')
        div(id='content')
            div(id='realContent')
                form(action='/dash/load/' method='POST')
                    h3 Save a config
                    input(type='text' name='configName' placeholder='Name for config')
                    input(type='submit' name='submit' value='Save')
                    h3 Load a config
                    table
                        tr
                            th Config
                            th Load
                            th Remove
                        each config in configs
                            tr
                                td=config.name
                                td
                                    input(class='radioUn' type='radio' name='configID' value=config.id)
                                td
                                    input(type='checkbox' name='remove[]' value=config.id)                            
                        tr
                            td Action
                            td
                                input(type='submit' name='submit' value='Load')
                            td
                                input(type='submit' name='submit' value='Remove') 
                    h3 Schedule a load
                    label Select a config name: 
                    select(name='configToSchedule')
                        each config in configs
                            option(value=config.name)=config.name
                    br
                    input(type='date' name='dateInput')
                    input(type='time' name='timeInput')    
                    input(type='submit' name='submit' value='Schedule') 
                    h3 Scheduled loads
                    table
                        tr
                            th Config
                            th Time
                            th Cancel
                        each schedule in schedules
                            tr
                                td=schedule.name
                                td=schedule.time
                                td
                                    input(type='checkbox' name='cancel[]' value=schedule.id)                            
                        tr
                            td
                            td
                            td
                                input(type='submit' name='submit' value='Cancel') 

        script.
            var navConVisible = false
        include leftNav
        if msg.length > 0
            script.
                alert('#{msg}')
