doctype html
html
    head
        title='Load'+(isAuth ? ' | '+user.username : '')  
        link(rel='stylesheet',href='/stylesheets/dash/load.css')
    body
        script(src='/javascripts/jquery.js')
        script(src='/javascripts/dash/load.js')
        div(id='content')
            div(id='realContent')
                form(action='/dash/load/' method='POST' class="w3-center")
                    h3(class="w3-center w3-xxlarge" style="margin-top:30px") 
                        i Save a config
                    input(type='text' name='configName' placeholder='Name for config' class="w3-input" style="margin-bottom:10px")
                    input(type='submit' name='submit' value='Save' class="w3-button w3-green")
                        
                    h3(class="w3-center w3-xxlarge" style="margin-top:30px") 
                        i Load a config
                    
                    table(class="w3-table-all w3-hoverable w3-centered")
                        tr
                            th Config
                            th Load
                            th Remove
                        each config in configs
                            tr
                                td=config.name
                                td
                                    input(class='radioUn w3-radio' type='radio' name='configID' value=config.id)
                                td
                                    input(class="w3-check" type='checkbox' name='remove[]' value=config.id)                            
                        tr
                            td Action
                            td
                                input(class="w3-blue w3-btn" type='submit' name='submit' value='Load')
                            td
                                input(class="w3-red w3-btn" type='submit' name='submit' value='Remove') 
                                
                    h3(class="w3-center w3-xxlarge" style="margin-top:30px")
                        i Schedule a load
                    label Select a config name: 
                    select(name='configToSchedule' class="w3-select")
                        each config in configs
                            option(value=config.name)=config.name
                    br
                        
                    input( class="w3-input" style="margin-top:15px" type='date' name='dateInput')
                    input( class="w3-input" style="margin-top:15px" type='time' name='timeInput')    
                    input( class="w3-green w3-button w3-margin" type='submit' name='submit' value='Schedule') 
                    
                    h3(class="w3-center w3-xxlarge" style="margin-top:30px")
                        i Scheduled loads
                    table(class="w3-table-all w3-hoverable w3-centered" style="margin-bottom:40px")
                        
                        tr
                            th Config
                            th Time
                            th Cancel
                        each schedule in schedules
                            tr
                                td=schedule.name
                                td=schedule.time
                                td
                                    input(class="w3-checkbox" type='checkbox' name='cancel[]' value=schedule.id)                            
                        tr
                            td
                            td
                            td
                                input(class="w3-red w3-button" type='submit' name='submit' value='Cancel') 

        script.
            var navConVisible = false
        include leftNav
        if msg.length > 0
            script.
                alert('#{msg}')
