doctype html
html
    head
        title Dash : Users (#{user.username})
        link(rel='stylesheet',href='/stylesheets/dash/users.css')
    body
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
        script(src='/javascripts/dash/users.js')
        div(id='content')
            div(id='realContent')
                form(method='POST' action='/dash/admin/users')
                    table
                        tr
                            th  
                            th Username
                            th Change Status
                            th Remove
                            each usr in users
                                tr
                                    td
                                        img(id='i'+usr.username src=(usr.online===true||usr.username===user.username?'../../images/online.jpg':'../../images/offline.jpg'))
                                    td=usr.username
                                    td
                                        input(name=(usr.admin?'deadmin[]':'admin[]') type='checkbox' value=usr.username)
                                        label=(usr.admin?'De-admin ':'Make admin')
                                    td
                                        input(name='remove[]' type='checkbox' value=usr.username)
                    br
                    input(type='submit' value='Apply Changes')
        script.
            var navConVisible = false
        include leftNav
